.containerEnd{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.cont-quest-end{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
}
.box-group-end-1,
.box-group-end-2{
    width: 20%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.box1end{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/anna.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box2end{
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px;
    background-image: url(../../assets/квесты/metro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box3end{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherniy.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box4end{
    width: 20%;
    height: 52vh;
    border-radius: 40px;
    background-image: url(../../assets/Маньяк.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box5end{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherni2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box6end{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/grizli.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7end{
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px  ;
    background-image: url(../../assets/квесты/lift.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1end:hover,
.box2end:hover,
.box3end:hover,
.box4end:hover,
.box5end:hover,
.box6end:hover,
.box7end:hover{
    transform: scale(1.04);
    border: 4px solid #ffffff66;

}
footer {
  text-align: center;
  font-size: 4vw;
  letter-spacing: 0.1em;
position: relative;
top: 10vh;
color: red;
}

.box{
    border: 4px solid #ffffff1a;
}