html {
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
    background: black;
}
.o-wrapper {
    width: 100%;
}
header {
    display: flex;
    justify-content: start;
    position: fixed;
    height: 20vh;
    width: 100%;
    z-index: 100;
    color: aliceblue;
}
.contLogo {
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxLogo{
    width: 100%;
    height: 100%  ;  
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.but{
    position: absolute;
    width: 100%;
    height: 50%;
    padding: 1rem;
    border-radius: 30px;
    background: #00000099;
    border: 2px solid white;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 80%;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 
}
.but:hover{
    text-shadow: 2px 2px 2px grey;
    box-shadow: 0px 3px 10px white;
    transform: scale(2);
    border-color:red;
    color: red;
    transition-duration: 0.5s;
    filter: drop-shadow(0 0 2em #646cffaa);
    text-decoration: none; 

}
.but:visited {
    text-decoration: none; 
}
.but:active {
    text-decoration: none;
}
.logo:hover{
    opacity: 0.9;
    filter: drop-shadow(0 0 2em #646cffaa);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.cont-quest{
    position: absolute;
    top: 20ch;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.box-group-1, .box-group-2{
    width: 20%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.box{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/anna.jpg);

}
.box2 {
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px;
    background-image: url(../../assets/квесты/metro.jpg);
}
.box3{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherniy.jpeg);
}
.box4{
    width: 20%;
    height: 52vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background-image: url(../../assets/Маньяк.png);
}
.box4h1{
    opacity: 0;
    text-shadow: 4px 4px 3px black;
}
.contBox4p{
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-shadow: 4px 4px 3px black;
}
.box4p1, .box4p2{
    opacity: 0;
}
.box5{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherni2.jpg);
}
.box6{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/grizli.jpg);
}
.box7{
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px  ;
    background-image: url(../../assets/квесты/lift.jpg);
} 
@media screen and (max-width: 767px){
body {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
    background: black;
}
.o-wrapper {
    width: 100%;
}
header {
    display: flex;
    justify-content: start;
    position: fixed;
    height: 20vh;
    width: 100%;
    z-index: 100;
    color: aliceblue;
}
.contLogo {
    margin: 0.5rem;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxLogo{
    width: 100%;
    height: 100%  ;  
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.but{
    position: absolute;
    width: 100%;
    height: 50%;
    padding: 1rem;
    border-radius: 30px;
    background: #00000099;
    border: 2px solid white;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 30%;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 
}
.but:hover{
    background: #00000099;
    text-shadow: 0px 3px 3px black;
    box-shadow: 0px 0px 10px white;
    transform: scale(2);
    border-color:red;
    color: red;
    transition-duration: 0.5s;
    filter: drop-shadow(0 0 2em #646cffaa);
    text-decoration: none; 
}
.but:visited {
  text-decoration: none;    
}
.but:active {
  text-decoration: none;
}
.logo:hover{
    opacity: 0.9;
    filter: drop-shadow(0 0 2em #646cffaa);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.o-wrapper {
    width: 100%;
    height: max-content;
}
.cont-quest{
    padding-top: 0vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    position:sticky;
}
.box-group-1, .box-group-2{
    width: 100%;
    height: max-content;
}
.box{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1{
    width: 100%;
    height: 14.285714286vh;
    border-radius: 0;
    background-image: url(../../assets/квесты/anna.jpg);
}
.box2 {
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/metro.jpg);
    border-radius: 0;
}
.box3{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/cherniy.jpeg);
    border-radius: 0;
}
.box4{
    width: 100%;
    height: 14.285714286vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/Маньяк.png);
    border-radius: 0;
    color: white;
}
.box5{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/cherni2.jpg);
    border-radius: 0;
}
.box6{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/grizli.jpg);
    border-radius: 0;
}
.box7{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/lift.jpg);
    border-radius: 0;

}
.box4h1{
    opacity: 1;
    z-index: 10;
    animation: h1 infinite ease-in-out alternate 2s;
}

@keyframes h1 {
    from{
        text-shadow: 3px 3px 6px red;
    }
    
    to{
        text-shadow: 3px 3px 6px black;
        color:#99000099
    }
}
.contBox4p{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 4px 4px 3px black;
    z-index: 10;
    margin-top: 10%;
    font-size: 20px;
}
.box4p1, .box4p2{
    z-index: 10;
    opacity: 1;

}

}

