html {
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
    background: black;
    font-family: 'Luckiest Guy', cursive;
}
.o-wrapper {
    width: 100%;
    height: 900vh;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 12vh;
    width: 100%;
    z-index: 100;
    color: aliceblue;
}
.contLogo {
    opacity: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 10vw;
    height: 10vh;
    color: red;
}

.logo{
    width: 100%;
    height: 100%;
    background-image: url(../../../public/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.logo2{
    background: none;
    width: max-content;
    padding: 5px;
    height: 100%;
    border: 2px solid #ffffff66;
    border-radius: 40px;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
}
.cont-quest{
    padding-top: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.box{
    border: 4px solid red;
}
.box-group-1, .box-group-2{
    width: 20%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.box1{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/anna.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box2 {
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px;
    background-image: url(../../assets/квесты/metro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box3{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherniy.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box4{
    width: 20%;
    height: 52vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background-image: url(../../assets/Маньяк.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box4h1{
    opacity: 0;
    text-shadow: 4px 4px 3px black;
}
.contBox4p{
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-shadow: 4px 4px 3px black;
}
.box4p1, .box4p2{
    opacity: 0;
}
.box5{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherni2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box6{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/grizli.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7{
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px  ;
    background-image: url(../../assets/квесты/lift.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

@media screen and (max-width: 767px){

body {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
    background: black;
    font-family: 'Luckiest Guy', cursive;
}
.o-wrapper {
    width: 100%;
}
    
.contLogo {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 10vh;
}
.logo{
    width: 100%;
    height: 100%;
    background-image: url(../../../public/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    height: 12vh;
    width: 100%;
    z-index: 100;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* background-color: aquamarine; */
}
.o-wrapper {
    width: 100%;
    height: max-content;
}
.cont-quest{
    padding-top: 0vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: #222; */
    gap: 0;
}
.box-group-1, .box-group-2{
    width: 100%;
    height: max-content;
}

.box{
    border: 4px solid red;
}

.box1{
    width: 100%;
    height: 14.285714286vh;
    border-radius: 0;

    background-image: url(../../assets/квесты/anna.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box2 {
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/metro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;


}
.box3{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/cherniy.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;


}
.box4{
    width: 100%;
    height: 14.285714286vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/Маньяк.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    /* z-index: 5; */
    color: white;
}





.box5{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/cherni2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;


}
.box6{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/grizli.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;


}
.box7{
    width: 100%;
    height: 14.285714286vh;
    background-image: url(../../assets/квесты/lift.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;

}


.box4h1{
    opacity: 1;
    z-index: 10;
    animation: h1 infinite ease-in-out alternate 2s;
}

@keyframes h1 {
    from{
        text-shadow: 3px 3px 6px red;

    }
    
    to{
        text-shadow: 3px 3px 6px black;
        color:#99000099
    }
}




.contBox4p{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 4px 4px 3px black;
    z-index: 10;
    margin-top: 10%;
    font-size: 20px;

}
.box4p1, .box4p2{
    z-index: 10;
    opacity: 1;
    /* position: absolute; */
    /* background-color: aliceblue; */
}

}

