html {
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
    background: black;
}
.o-wrapper {
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 100;
    border-radius: 30px;
    margin-top: 1vh;
    color: aliceblue;
}
.contLogo {
    margin: 0;
    width: 20%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    
}

.boxLogo{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 90%;
    height: 90%;
}

.but{
    position: absolute;
    width: 200%;
    height: 50%;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 6vh;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 
}
.but:hover{
    text-shadow: 2px 2px 2px white;
    filter: drop-shadow(0 0 20px #646cffaa);
    text-decoration: none; 
    color: aqua;

}
.but:visited {
    text-decoration: none; 
}
.but:active {
    text-decoration: none;
}
.logo:hover{
    opacity: 0.9;
    filter: drop-shadow(0 0 2em #646cffaa);
}
.quests{
    /* position: absolute; */
    width: 20%;
    height: 50%;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 3.5vh;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 

}
.quests:hover{
    text-shadow: 2px 2px 2px white;
    filter: drop-shadow(0 0 20px #646cffaa);
    text-decoration: none; 
    color: aqua;
}
.quests:visited {
    text-decoration: none; 
}
.quests:active {
    text-decoration: none;
}

.rules{
    /* position: absolute; */
    width: 20%;
    height: 50%;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 3.5vh;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 
}
.rules:hover{
    text-shadow: 2px 2px 2px white;
    filter: drop-shadow(0 0 20px #646cffaa);
    text-decoration: none; 
    color: aqua;

}
.rules:visited {
    text-decoration: none; 
}
.rules:active {
    text-decoration: none;
}




.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    overflow: hidden;
}
.cont-quest{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.box-group-1, .box-group-2{
    width: 20%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.box{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/anna.jpg);

}
.box2 {
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px;
    background-image: url(../../assets/квесты/metro.jpg);
}
.box3{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherniy.jpeg);
}
.box4{
    width: 20%;
    height: 52vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background-image: url(../../assets/Маньяк.png);
}
.box4h1{
    opacity: 0;
    text-shadow: 4px 4px 3px black;
}
.contBox4p{
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-shadow: 4px 4px 3px black;
}
.box4p1, .box4p2{
    opacity: 0;
}
.box5{
    width: 20%;
    height: 60vh;
    border-radius: 40px;
    background-image: url(../../assets/квесты/cherni2.jpg);
}
.box6{
    width: 100%;
    height: 60%;
    border-radius: 40px 40px 10px 10px;
    background-image: url(../../assets/квесты/grizli.jpg);
}
.box7{
    width: 100%;
    height: 37%;
    border-radius:10px 10px 40px 40px  ;
    background-image: url(../../assets/квесты/lift.jpg);
} 
@media screen and (max-width: 767px){
body {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
    background: black;
}
.o-wrapper {
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 100;
    /* color: aliceblue; */
    /* background-color: aliceblue; */
}
.contLogo {
    margin: 0;
    width: 25%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxLogo{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 90%;
    height: 90%;
    /* object-fit: cover; */
}

.but{
    position: absolute;
    width: 200%;
    height: 50%;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 4vh;
    /* opacity: 0; */
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 
}
.but:hover{
    text-shadow: 2px 2px 2px white;
    filter: drop-shadow(0 0 20px #646cffaa);
    text-decoration: none; 
    color: aqua;

}
.but:visited {
    text-decoration: none; 
}
.but:active {
    text-decoration: none;
}
.logo:hover{
    opacity: 0.9;
    filter: drop-shadow(0 0 2em #646cffaa);
}
.quests{
    /* position: absolute; */
    width: 20%;
    height: 50%;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 2.3vh;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 

}
.quests:hover{
    text-shadow: 2px 2px 2px white;
    filter: drop-shadow(0 0 20px #646cffaa);
    text-decoration: none; 
    color: aqua;
}
.quests:visited {
    text-decoration: none; 
}
.quests:active {
    text-decoration: none;
}

.rules{
    /* position: absolute; */
    width: 20%;
    height: 50%;
    color: grey;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
    font-size: 2.3vh;
    opacity: 0;
    filter: drop-shadow(0 0 2em red);
    text-decoration: none; 
}
.rules:hover{
    text-shadow: 2px 2px 2px white;
    filter: drop-shadow(0 0 20px #646cffaa);
    text-decoration: none; 
    color: aqua;

}
.rules:visited {
    text-decoration: none; 
}
.rules:active {
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
}
.o-wrapper {
    width: 100%;
    height: max-content;
}
.cont-quest{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-group-1, .box-group-2{
    width: 100%;
    height: max-content;
        display: contents;
}
.box{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1{
    width: 100%;
    border-radius: 0;
    background-image: url(../../assets/квесты/anna.jpg);
}
.box2 {
    width: 100%;
    background-image: url(../../assets/квесты/metro.jpg);
    border-radius: 0;
}
.box3{
    width: 100%;
    background-image: url(../../assets/квесты/cherniy.jpeg);
    border-radius: 0;
}
.box4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/Маньяк.png);
    border-radius: 0;
    color: white;
}
.box5{
    width: 100%;
    background-image: url(../../assets/квесты/cherni2.jpg);
    border-radius: 0;
}
.box6{
    width: 100%;
    background-image: url(../../assets/квесты/grizli.jpg);
    border-radius: 0;
}
.box7{
    width: 100%;
    background-image: url(../../assets/квесты/lift.jpg);
    border-radius: 0;
}
.box4h1{
    display: none;
    opacity: 1;
    z-index: 10;
    animation: h1 infinite ease-in-out alternate 2s;
    color: black;
}
@keyframes h1 {
    from{
        text-shadow: 3px 3px 6px red;
    }
    to{
        text-shadow: 3px 3px 6px white;
    }
}
.contBox4p{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 4px 4px 3px black;
    z-index: 10;
    margin-top: 15%;
    font-size: 20px;
    color: grey;
}
.box4p1, .box4p2{
    display: none;
    z-index: 10;
    opacity: 1;

}
}

