.container4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBox14{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contMap{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/maps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 50px;
}

.opa{
    background-color: #00000099;
    border-radius: 50px;
    padding: 1rem;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    color: white;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    margin: 0;
    font-size: 100%;
}
.contBox4{
    border: 5px solid red;
    background-color: rgb(36, 1, 1);
    border-radius:50px ;
}

@media screen and (max-width:767px) {
    .container4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBox14{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contMap{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/maps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 50px;
}

.opa{
    background-color: #00000099;
    border-radius: 50px;
    padding: 1rem;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    color: white;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    margin: 0;
    font-size: 50%;
}
.contBox4{
    border: 5px solid red;
    background-color: rgb(36, 1, 1);
    border-radius:50px ;
}
    
}