.footer{
    display: flex;
    top: 0;
    z-index: 1000;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.footer-title{
    width: 30%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    font-style: italic;
}

.footer-title h3{
    color: aliceblue;
    padding: 15px;
} 
.image-button-right-card4{
    background-color: red;
    color: black;
    width: max-content;
    height: max-content;
    border-radius: 40px;
    margin-top: 1vh;
        font-family: "WDXL Lubrifont SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.image-button-right-card4:hover{
    background-color: black;
    color: red;
}
.right-container-map{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    border-radius: 40px;
    height: 500px;
}




@media (max-width: 1200px) {
.footer{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.footer-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
}
.footer-title{
    width: 100%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title h1{
    padding-bottom: 0;
}
.footer-title h3{
    color: aliceblue;
    padding: 50px;
} 
.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 40px;
    height: 45vw;
    width: 1000px;
}
}
@media (max-width: 920px) {
.footer{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.footer-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
}
.footer-title{
    width: 100%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title h1{
    padding-bottom: 0;
}
.footer-title h3{
    color: aliceblue;
    padding: 50px;
} 
.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 40px;
    height: 45vw;
    width: 900px;
}
}

@media (max-width: 851px) {
.right-container-map{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 90vw;
}
}
@media (max-width: 821px) {
.footer-container{
    flex-direction: column;
    justify-content: end;
    background-color: black;
    height: 100vh;
    width: 100%;
}


.footer-title{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 7vh;

}
.footer-title h1{
    margin-top: 4vh;
}

.footer-title h3{
    font-size: 22px;
    color: aliceblue;
    padding: 0;
    margin: 2px;
    margin-bottom: 3vh;

} 

.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    border-radius: 40px;
    height: 40vh;
}
}

@media (max-width: 550px) {
.footer-container{
    flex-direction: column;
    justify-content: end;
    background-color: black;
    height: 100vh;
    width: 100%;
}
.footer-title{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1vh;

}

.footer-title h3{
    font-size: 20px;
    color: aliceblue;
    padding: 0;
    margin: 2px;
    margin-bottom: 3vh;

} 

.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    border-radius: 40px;
    height: 40vh;
}
}

@media (max-width: 770px) {
.footer-container{
    flex-direction: column;
    justify-content: end;
    background-color: black;
    height: 100vh;
    width: 100%;
}
.footer-title{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1vh;

}

.footer-title h3{
    font-size: 20px;
    color: aliceblue;
    padding: 0;
    margin: 2px;
    margin-bottom: 3vh;

} 

.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 520px;
    border-radius: 40px;
    height: 40vh;
}
}

@media (max-width: 431px) {
.footer-container{
    flex-direction: column;
    justify-content: end;
    background-color: black;
    height: 100vh;
    width: 100%;
}
.footer-title{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1vh;

}

.footer-title h3{
    font-size: 15px;
    color: aliceblue;
    padding: 0;
    margin: 2px;
    margin-bottom: 3vh;

} 

.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 410px;
    border-radius: 40px;
    height: 40vh;
}
}

@media (max-width: 415px) {
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    background-color: black;
    height: 100vh;
    width: 100%;
    padding: 50vh 0 0 0;
}
.footer-title{
    width: 60%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1vh;

}

.footer-title h3{
    font-size: 15px;
    color: aliceblue;
    padding: 0;
    margin: 20px;
    margin-bottom: 3vh;

} 
.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 380px;
    border-radius: 40px;
    height: 40vh;
}
}

@media (max-width: 376px) {
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 50vh 0 0 0;
}
.footer-title{
    width: 60%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2vh;

}

.footer-title h3{
    font-size: 15px;
    color: aliceblue;
    padding: 0;
    margin: 2px;
    margin-bottom: 3vh;

} 
.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 310px;
    border-radius: 40px;
    height: 40vh;
}
}