.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
}
.footer-title{
    width: 30%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title h1{
    padding-bottom: 5vh;
}
.footer-title h3{
    color: aliceblue;
    padding: 20px;
} 
.right-container-map{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 69vw;
    border-radius: 40px;
    height: 70vh;
}



@media screen and (max-width: 1200px) {
.footer{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
}
.footer-title{
    width: 100%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title h1{
    padding-bottom: 0;
}
.footer-title h3{
    color: aliceblue;
    padding: 10px;
} 
.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 40px;
    height: 30vw;
    width: 98.9vw;
}
}


@media (max-width: 851px) {
.right-container-map{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 90vw;
}
}




@media (max-width: 415px) {
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.footer-title{
    width: 90%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title h1{
    padding-bottom: 0;
}
.footer-title h3{
    color: aliceblue;
    padding: 0px;
    margin: 0;
    width: max-content;
} 
.right-container-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    border-radius: 40px;
    height: 50vh;
}
}



@media (max-width: 376px) {
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.footer-title{
    width: 30%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title h1{
    padding-bottom: 0;
}
.footer-title h3{
    color: aliceblue;
    padding: 0px;
    margin: 0;
    width: max-content;
} 
.right-container-map{
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 40px;
}
.galleryPicMap{
    background:url(../assets/maps.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 98vw;
    border-radius: 40px;
    height: 50vh;
}
}