*{
    max-width: 100%;
    box-sizing: border-box;
}
.containerThe{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #222;
        position: sticky;
    top: 0;
}
.contSlide1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    overflow-x: hidden;
}
.theTitle{
    width: 100%;
    display: flex;
    justify-content: end;
    /* margin-right: 20%; */
    /* transform: scale(1.1); */
    position: absolute;
    font-size: 50%;
    top: 0;
}
.theItem1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
}
.theItem3{
    display: flex;
    justify-content: center;
    width: 50%;
    height: max-content;
}
.ynikMeh{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}
.theItem5{
    position: absolute;
    opacity: 0;
}
.theItem2Img{
    width: 200px;
    height: 300px;
    background-image:url(../../assets/5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 200px;
}
.theItem6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
    position: absolute;
}
.theItem7{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    text-align: center;
    position: absolute;
}
.itemMehText{
    position: absolute;
    z-index: 100;
}
.ynika{
transform: rotate(-90deg);
position: absolute;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.l{
    transform: rotate(-90deg);
}
.nie{
    transform: rotate(-90deg);
    position: absolute;
}
.gear{
    background-image: url(../../assets/шестеренка.svg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    color:aliceblue;
    border-radius: 100px;
    opacity: 0;
}
.gear1{
    transform: rotate(90deg);
    animation:go 14s linear infinite ;
}
@keyframes go {
    from { transform: rotate(90deg); }
    to   { transform: rotate(450deg); }
}
.gear2{
    animation:goi 14s linear infinite ;
}
@keyframes goi {
    from { transform: rotate(0deg); }
    to   { transform: rotate(-360deg); }
}
@media screen and (max-width: 767px) {
.containerThe{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #222;
}
.contSlide1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    overflow-x: hidden;
}
.theTitle{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 20%;
    transform: scale(1.1);
    position: absolute;
    top: 0;
}
.theItem1{
    display: flex;
    justify-content: center;
    width: 50%;
    height: max-content;
}
.theItem3{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    height: max-content;
}
.ynikMeh{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}
.theItem5{
    position: absolute;
    opacity: 0;
}
.theItem2Img{
    width: 200px;
    height: 300px;
    background-image:url(../../assets/5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 200px;
}
.theItem6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
    position: absolute;
}
.theItem7{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
}
.itemMehText{
    position: absolute;
    z-index: 100;
}
.ynika{
transform: rotate(-90deg);
position: absolute;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.l{
    transform: rotate(-90deg);
}
.nie{
    transform: rotate(-90deg);
position: absolute;
}
.gear{
    background-image: url(../../assets/шестеренка.svg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    color:aliceblue;
    border-radius: 100px;
}
.gear1{
    transform: rotate(90deg);
    animation:go 14s linear infinite ;
}
@keyframes go {
    from { transform: rotate(90deg); }
    to   { transform: rotate(450deg); }
}
.gear2{
    animation:goi 14s linear infinite ;
}
@keyframes goi {
    from { transform: rotate(0deg); }
    to   { transform: rotate(-360deg); }
}
}