.containerThe{
    width: 100%;
    height: 500vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theTitle{
    font-size: 3vw;
}

.theItem2Img{
    width: 200px;
    height: 300px;
    background-image:url(../../assets/5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 200px;
}


.l{
    transform: rotate(-90deg);
}
