.containerDesc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBox2{
    border: 3px solid red;
    border-radius:50px ;
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-image: url(../../assets/Шторка.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideStyle{
    width: 40%;
    height: max-content;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(72, 72, 72);
    color: red;
    text-shadow: 2px 2px 2px grey;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6{
    opacity: 0;
}

@media screen and (max-width:767px){
    .containerDesc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBox2{
    border: 3px solid red;
    background-color: rgb(182, 115, 115);
    border-radius:50px ;
    width: 90%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-image: url(../../assets/Бензопила.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideStyle{
    width: 100%;
    height: 100%;
    padding: 0.7rem;
    background-color: #00000099;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(72, 72, 72);
    color: grey;
    text-shadow: 3px 3px 4px red;
    font-size: 15px;
    position: absolute;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6{
    opacity: 0;
}

}