.containerDesc{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100vh;
}
.contBox2{

    border-radius:50px ;
    width: 90%;
    height: 100vh;
    background-image: url(../../assets/Упал.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:40% 40%;
    gap: 2%;
}
.slideStyle{
    width: 100%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.369);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(72, 72, 72);
    color: #222;
    text-shadow: 0px 0px 5px black;
    opacity: 1;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6{
    opacity: 0;
    font-family: monospace;
    font-size: 60%;
}
@media screen and (max-width:767px){
    .containerDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(46, 2, 2);
}
.contBox2{
    background-color: rgb(182, 115, 115);
    border-radius:50px ;
    width: 90%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-image: url(../../assets/Бензопила.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slideStyle{
    width: 100%;
    height: 100%;
    padding: 0.7rem;
    background: linear-gradient(90deg,#2c0f12d0, #6b1e23d5);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    font-size: 15px;
    position: absolute;
    border: none;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6{
    opacity: 0;
}
}