.description{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.desc-back-container{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.desc-back{
    background: url(../../assets/Стул.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
}
.desc-container-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}
.desc-left{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-left{
    width: 40%;
    height: 60%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-right{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-right{
    width: 40%;
    height: 60%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 1200px) {
.description{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.desc-back-container{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.desc-back{
    background: url(../assets/Стул.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 104vw;
    height: 125vh;
    position: sticky;
    top: 0;
}
.desc-container-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}
.desc-left{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-left{
    width: 40%;
    height: 60%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-right{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-right{
    width: 40%;
    height: 60%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}


@media (max-width: 851px) {
.desc-back-container{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.desc-back{
    background: url(../assets/Шторка.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 125vh;
    position: sticky;
    top: 0;
}
.desc-container-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}
.desc-left{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-bottom: 20vh;

}
.slide-left{
    width: 70%;
    height: 100%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-right{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-right{
    width: 70%;
    height: 100%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}



@media (max-width: 415px) {
.desc-back-container{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.desc-back{
    background: url(../assets/Шторка.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
}
.desc-left{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-left{
    width: 70%;
    height: 100%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-container-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}
}



@media (max-width: 376px) {
.description{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.desc-back-container{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.desc-back{
    background: url(../assets/Шторка.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 99vw;
    height: 100%;
    position: sticky;
    top: 0;
}
.desc-container-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}
.desc-left{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-left{
    width: 70%;
    height: 100%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-right{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20vh;
}
.slide-right{
    width: 70%;
    height: 100%;
    padding: 20px;
    background-color: #00000099;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}