html{
    margin: 0;
    /* overflow-x: hidden; */
}

.containerStart{
    width: 100%;
    height: 100%;
    margin-bottom: 100vh;
    overflow: hidden;
}
.contBox1{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    border-radius:50px ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.video-container{
    width: 100%;
    height: 100%;
}
.wrapper-video{
  position: absolute;
  width: 100%;
  height: 100%;
   object-fit: cover; 
  border-radius: 50px;
  opacity: 0;
}

.theStartTitle{
    width: 100%;
    height: max-content;
    color: aliceblue;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: end;
    padding-right: 2vw;
    align-items: center;
}


.okak{
    position: absolute;
    color: white;
    opacity: 0;
}

@media screen and (max-width:767px){
    html{
    margin: 0;
}

.containerStart{
    width: 100%;
    height: 100%;
}
.contBox1{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    border-radius:50px ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.video-container{
    width: 100%;
    height: 100%;
}
.wrapper-video{
  position: absolute;
  width: 100%;
  height: 100%;
   object-fit: cover; 
  border-radius: 50px;
  opacity: 0;
}

.theStartTitle{
    width: 100%;
    height: max-content;
    color: aliceblue;
    font-size: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-right: 2vw;
    align-items: center;
}

.okak{
    position: absolute;
    color: white;
    opacity: 0;
}
}

