html{
    margin: 0;
}
.theTitle{
    font-size: 3vw;
}

.okakImg{
    width: 200px;
    height: 200px;
    background-image: url(../../assets/бу.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerStart{
    width: 100%;
    height: max-content;
    /* margin-left: 0.8vw; */
    /* background-color: aliceblue; */
        position: sticky;
    top: 0;
}
.contBox1{
    right: 1vw;
    width: 100%;
    height: 96vh;
    position: sticky;
    top: 10vh;
    margin-top: 2vh;

    border: 2px solid red;
    border-radius:50px ;
}
.wrapper-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;        /* делает cover как у фона */
  z-index: 0;   
  border-radius: 50px;
  opacity: 0;
}

.okak{
    position: absolute;
    color: white;
}
