.containerFeat{
    width: 100%;
    height: 100vh;
    /* margin-bottom: 10vh; */
}
.styleBigfeat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96vh;
    position: absolute;
    top: 1vh;
    border: 5px solid red;
    border-radius:50px;
    background-color: black;
}
.featMini{
    width: 1000px;
    height: 600px;
    border: 9px solid #ffffff1a;
    border-radius:50px;
    position: absolute;
    opacity: 1;
}
.contBigFeat1{
    background-image: url(../../assets/Девушка.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.blur {
  width: 100%;
  height: 100%;
  filter: blur(10px);
  background-image: inherit; /* наследует фон */
  background-position: inherit;
  background-repeat: inherit;
  background-size: inherit;
  z-index: 0;
  border-radius: 50px;
  opacity: 1;
}

.f1{
    width: 100%;
    height: 100%;
    border-radius:50px;
    background-image: url(../../assets/Девушка.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

.contBigFeat2{
    background-image: url(../../assets/Стул.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    position: absolute;

}
.f2{
    width: 100%;
    height: 100%;
    border-radius:50px;
    background-image: url(../../assets/Стул.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;

}

.contBigFeat3{
    background-image: url(../../assets/Упал.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    position: absolute;


}
.f3{
    width: 100%;
    height: 100%;
    border-radius:50px;
    background-image: url(../../assets/Упал.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;

}

.contBigFeat4{
    background-image: url(../../assets/Бензопила.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    position: absolute;

}
.f4{
    width: 100%;
    height: 100%;
    border-radius:50px;
    background-image: url(../../assets/Бензопила.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;

}
